<script type="text/javascript">
$(".button-collapse").sideNav();

function initMap() {

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -26.872519, lng: -49.3869241},
        scrollwheel: false,
        zoom: 8
    });

    geocoder = new google.maps.Geocoder();

    // Create a marker and set its position.
    var marker = new google.maps.Marker({
        map: map,
        draggable: false,
    });

    geocoder.geocode({ 'address': document.getElementById('endereco').value, 'region': 'BR' }, function (results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            if (results[0]) {
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();
                var location = new google.maps.LatLng(latitude, longitude);
                marker.setPosition(location);
                map.setCenter(location);
                map.setZoom(18);
            }
        }
    });
}

</script>

<style media="screen">
header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

#map {
    height: 400px;
    width: 100%;
}

</style>

<div ng-controller="cadastrarPontoCtrl">

    <header>
        <nav class="side-nav fixed grey lighten-4">
            <ul>
                <li>
                    <div class="userView">
                        <img class="background" src="resources/teal.jpg">
                        <a href="#/conta"><img class="circle" src="resources/bk1.jpg"></a>
                        <a href="#/conta"><span class="white-text name">{{empresa.nome}}</span></a>
                        <a href="#/conta"><span class="white-text email">{{empresa.email}}</span></a>
                    </div>
                </li>

                <li>
                    <a href="#/home" class="waves-effect" href=""><i class="material-icons">home</i>Home</a>
                </li>

                <li class="active">
                    <a href="" class="waves-effect" href=""><i class="material-icons">add</i>Cadastrar Ponto</a>
                </li>

                <li>
                    <a href="#/relatorio" class="waves-effect" href=""><i class="material-icons">subject</i>Relatórios</a>
                </li>

                <li>
                    <a href="#/conta" class="waves-effect" href=""><i class="material-icons">settings</i>Conta</a>
                </li>

                <li>
                    <div class="divider"></div>
                </li>

                <li>
                    <a href="#/login" class="waves-effect" href=""><i class="material-icons red-text">power_settings_new</i>Sair</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <form style="padding-top: 30px">
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content">
                            <h4 class="center teal-text">Cadastrar Ponto</h4>
                            <br>
                            <div class="divider"></div>
                            <div class="row" style="padding-top: 20px">
                                <div class="input-field col s12">
                                    <input placeholder="" onblur="initMap()"id="endereco" type="text" ng-model="ponto.endereco" class="validate">
                                    <label for="endereco">Endereço</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="descricao" ng-model="ponto.descricao" class="materialize-textarea"></textarea>
                                    <label for="descricao">Descrição</label>
                                </div>

                                <div class="input-field col s12">
                                    <input id="raioAlcance" ng-model="ponto.raioAlcance" type="number" class="validate" min="0" max="30">
                                    <label for="descricao">Raio de Alcance (Km)</label>
                                </div>

                            </div>

                            <div class="row" style="padding-top: 20px">
                                <div class="input-field col s12">
                                    <input placeholder="" id="valor" ng-model="ponto.valor" type="number" class="validate">
                                    <label for="valor">Valor</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <select class="icons">
                                        <option value="" selected data-icon="resources/money-bag.png" class="left circle">R$</option>
                                        <option value="" data-icon="resources/sales.png" class="left circle">%</option>
                                    </select>
                                    <label>Tipo de desconto</label>
                                </div>
                            </div>

                            <div id="map"></div>

                            <div class="card-action">
                                <button type="submit" class="waves-effect waves-teal btn-flat teal-text center">Cadastrar</button>
                                <a href="" ng-click="limparCampos()" class="waves-effect waves-red btn-flat right red-text center">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>

        <footer>

        </footer>
    </div>


    <script>
    $(document).ready(function(){
        $( "#raioAlcance" ).focus();
        $( "#endereco" ).focus();
        $('select').material_select();
        initMap();
    });

    </script>
