<style media="screen">
    header,
    main,
    footer {
        padding-left: 300px;
    }
    
    @media only screen and (max-width: 992px) {
        header,
        main,
        footer {
            padding-left: 0;
        }
    }
</style>

<div ng-controller="clienteCtrl">

    <header>
        <nav>
            <ul id="sideNav" class="side-nav fixed">
                <li>
                    <div class="userView">
                        <img class="background" src="resources/teal.jpg">
                        <a href="#/conta"><img class="circle" src="resources/bk1.jpg"></a>
                        <a href="#/conta"><span class="white-text name">{{empresaAtiva.nome}}</span></a>
                        <a href="#/conta"><span class="white-text email">{{empresaAtiva.email}}</span></a>
                    </div>
                </li>
                <li>
                    <a href="#/home" class="waves-effect" href=""><i class="material-icons">home</i>Home</a>
                </li>

                <li>
                    <a href="#/cadastrarPonto" class="waves-effect" href=""><i class="material-icons">add</i>Cadastrar Ponto</a>
                </li>

                <li class="active">
                    <a href="#/relatorio" class="waves-effect" href=""><i class="material-icons">subject</i>Relatórios</a>
                </li>

                <li>
                    <a href="#/conta" class="waves-effect" href=""><i class="material-icons">settings</i>Conta</a>
                </li>

                <li>
                    <div class="divider"></div>
                </li>

                <li>
                    <a href="#/login" class="waves-effect" href=""><i class="material-icons red-text">power_settings_new</i>Sair</a>
                </li>
            </ul>

            <div class="light-blue darken-2">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="" data-activates="sideNav" class="button-collapse show-on-small"><i class="material-icons">menu</i></a>
                        <a href="" class="brand-logo center light">Relatório</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <form name="formulario">
            <div class="container" style="padding-top: 50px">
                <div class="row">

                    <div class="col s12 m12 l12 ">
                        <h5 class="light center">{{cliente[0].nome}}</h5>
                        <br>
                        <hr>
                        <br>
                    </div>

                    <div class="col s6 m6 l6 ">
                        <div class="input-field">
                            <input id="pesquisa" ng-model="pesquisa" placeholder="Endereço, Descrição, Data Vencimento, etc" type="text" class="validate">
                            <label for="pesquisa">Pesquisar</label>
                        </div>
                    </div>

                    <table class="responsive-table striped">
                        <thead>
                            <tr>
                                <th class="center" data-field="endereco">Endereço</th>
                                <th class="center" data-field="descricao">Descrição</th>
                                <th class="center" data-field="tipoDesconto">Tipo Desconto</th>
                                <th class="center" data-field="valor">Valor</th>
                                <th class="center" data-field="dataVencimento">Data Vencimento</th>
                                <th class="center" data-field=""></th>
                                <th class="center" data-field=""></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="ponto in pontosCliente | filter: pesquisa">
                                <td class="center">{{ponto.endereco}}</td>
                                <td class="center">{{ponto.descricao}}</td>
                                <td class="center">{{ponto.tipoDesconto}}</td>
                                <td class="center">{{ponto.valor}}</td>
                                <td class="center">{{ponto.dataVencimento}}</td>
                                <td><a class="tooltipped" ng-if="!existInCarrinho(ponto.idPonto)" data-position="bottom" data-tooltip="Adicionar no carrinho" href="" ng-click="addCarrinhoPontos(ponto.idPonto)"><img src="resources/addCarrinho.png" height="26" width="26"></a></td>
                                <td><a class="tooltipped"  ng-if="existInCarrinho(ponto.idPonto)" data-position="bottom" data-tooltip="Remover do carrinho  " href="" ng-click="remCarrinhoPontos(ponto.idPonto)"><img src="resources/remCarrinho.png" height="26" width="26"></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div>
                        <a href="#modal1" class="waves-effect modal-trigger waves-light btn blue">Utilizar pontuação</a>
                    </div>

                    <!-- Modal Structure -->
                    <div id="modal1" class="modal bottom-sheet">
                        <div class="modal-content">
                            <h4>Serão utilizados os seguintes pontos:</h4>                            
                            <h5 ng-repeat="ponto in carrinhoPontos">{{ponto.}}</h5>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </main>

    <footer>

    </footer>

</div>

<script type="text/javascript">

$(document).ready(function() {
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');    
    $('.modal-trigger').leanModal();
    $('#pesquisa').focus();
    $('.tooltipped').tooltip({delay: 50});
});

</script>