<style media="screen">
    header,
    main,
    footer {
        padding-left: 300px;
    }

    @media only screen and (max-width: 992px) {
        header,
        main,
        footer {
            padding-left: 0;
        }
    }
</style>


<div ng-controller="contaCtrl">

    <header>
        <nav>
            <ul id="sideNav" class="side-nav fixed">
                <li>
                    <div class="userView">
                        <img class="background" src="resources/teal.jpg">
                        <a href="#/conta"><img class="circle" src="resources/bk1.jpg"></a>
                        <a href="#/conta"><span class="white-text name">{{empresaAtiva.nome}}</span></a>
                        <a href="#/conta"><span class="white-text email">{{empresaAtiva.email}}</span></a>
                    </div>
                </li>
                <li>
                    <a href="#/home" class="waves-effect" href=""><i class="material-icons">home</i>Home</a>
                </li>

                <li>
                    <a href="#/cadastrarPonto" class="waves-effect" href=""><i class="material-icons">add</i>Cadastrar Ponto</a>
                </li>

                <li>
                    <a href="#/relatorio" class="waves-effect" href=""><i class="material-icons">subject</i>Relatórios</a>
                </li>

                <li class="active">
                    <a href="#/conta" class="waves-effect" href=""><i class="material-icons">settings</i>Conta</a>
                </li>

                <li>
                    <div class="divider"></div>
                </li>

                <li>
                    <a href="#/login" class="waves-effect" href=""><i class="material-icons red-text">power_settings_new</i>Sair</a>
                </li>
            </ul>

            <div class="light-blue darken-2">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="" data-activates="sideNav" class="button-collapse show-on-small"><i class="material-icons">menu</i></a>
                        <a href="#" class="brand-logo center light">Conta</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>

        <div class="container">

            <form style="padding-top: 30px">
                <div class="row" style="padding-top: 20px">
                    <div class="input-field col s6">
                        <input id="nome" ng-model="empresaAtiva.nome" type="text" class="validate">
                        <label for="nome">Nome</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="email" ng-model="empresaAtiva.email" type="text" class="validate" disabled="">
                    </div>
                </div>

                <a href="#modalAlterarSenha" class="waves-effect waves-light btn teal modal-trigger">Trocar Senha</a>


                <!-- Modal Structure -->
                <div id="modalAlterarSenha" class="modal modal-fixed-footer">

                    <div class="modal-content">
                        <h4 class="teal-text center light">Alterar Senha</h4>
                        <div class="divider"></div>

                        <form>
                            <div style="padding-top: 20px">
                                <div class="input-field">
                                    <input id="senhaAtual" type="password" ng-model="senhaAtu" class="validate">
                                    <label for="senhaAtual">Senha Atual</label>
                                </div>
                                <div class="input-field">
                                    <input id="novaSenha" type="password" ng-model="novaSen" class="validate">
                                    <label for="novaSenha">Nova Senha</label>
                                </div>
                                <div class="input-field">
                                    <input id="confirmarNovaSenha" type="password" ng-model="confNovaSenha" class="validate">
                                    <label for="confirmarNovaSenha">Confirmar Nova Senha</label>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <a href="" ng-click="alterarSenha()" class="modal-action teal-text waves-effect waves-teal btn-flat left">Alterar</a>
                        <a href="" ng-click="closeModal()" class="modal-action red-text waves-effect waves-red btn-flat right">Cancelar</a>
                    </div>
                </div>
                <div class="divider"></div>

                <div class="" style="padding-top: 20px">
                    <button type="submit" class="waves-effect waves-teal btn-flat teal-text center">Alterar</button>
                    <a href="" ng-click="limparCampos()" class="waves-effect waves-red btn-flat right red-text center">Cancelar</a>
                </div>
            </form>

        </div>

    </main>

    <footer>

    </footer>

</div>

<script>
$(document).ready(function(){
    $( "#email" ).focus();
    $( "#nome" ).focus();
    $('.modal-trigger').leanModal();
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
});
</script>
