<script type="text/javascript">
$('.button-collapse').sideNav();
$('.collapsible').collapsible();

function initMap() {

    var myLatLng = {lat: -26.9166207, lng: -49.0717429};

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        scrollwheel: false,
        zoom: 18
    });

    // Create a marker and set its position.
    var marker = new google.maps.Marker({
        map: map,
        position: myLatLng,
        title: 'Hello World!'
    });
}

</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDky8bTysiAre9Otf-oYT7vXiv5fT5apg0&callback=initMap">
</script>


<style media="screen">
header, main, footer {
    padding-left: 300px;
}

#map {
    height: 400px;
    width: 100%;
}
</style>

<div ng-controller="homeCtrl">

    <header>
        <nav class="side-nav fixed grey lighten-4">
            <ul>
                <li>
                    <div class="userView">
                        <img class="background" src="resources/teal.jpg">
                        <a href=""><img class="circle" src="resources/bk1.jpg"></a>
                        <a href=""><span class="white-text name">{{usuario.nome}}</span></a>
                        <a href=""><span class="white-text email">{{usuario.email}}</span></a>
                    </div>
                </li>

                <li class="active">
                    <a href="#/home" class="waves-effect"><i class="material-icons">home</i>Home</a>
                </li>

                <li>
                    <a href="#/cadastrarPonto" class="waves-effect"><i class="material-icons">add</i>Cadastrar Ponto</a>
                </li>

                <li>
                    <a href="#/relatorio" class="waves-effect"><i class="material-icons">subject</i>Relatórios</a>
                </li>

                <li>
                    <a href="#/conta" class="waves-effect"><i class="material-icons">settings</i>Conta</a>
                </li>

                <li>
                    <div class="divider"></div>
                </li>

                <li>
                    <a class="waves-effect" href="#/login"><i class="material-icons red-text">power_settings_new</i>Sair</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="map"></div>
        <br>
        <div class="container">
            <div class="row">
                <table class="responsive-table striped">
                    <thead>
                        <tr>
                            <th data-field="descricao">Descrição</th>
                            <th data-field="endereco">Endereço</th>
                            <th data-field="raioAlcance">Raio de Alcance</th>
                            <th data-field="tipoDesconto">Tipo Desconto</th>
                            <th data-field="valor">Valor</th>
                            <th data-field="ativo">Ativo</th>
                        </tr>
                    </thead>

                    <tbody ng-repeat="ponto in pontos">
                        <tr>
                            <td>{{ponto.descricao}}</td>
                            <td>{{ponto.endereco}}</td>
                            <td>{{ponto.raioAlcance}}</td>
                            <td>{{ponto.tipoDesconto}}</td>
                            <td>{{ponto.valor}}</td>
                            <td>{{ponto.ativo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer>

    </footer>
</div>
