<style media="screen">
    header,
    main,
    footer {
        padding-left: 300px;
    }
    
    @media only screen and (max-width: 992px) {
        header,
        main,
        footer {
            padding-left: 0;
        }
    }
    
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<div id="divHome" ng-controller="homeCtrl">

    <header>
        <nav>
            <ul id="sideNav" class="side-nav fixed">
                <li>
                    <div class="userView">
                        <img class="background" src="resources/teal.jpg">
                        <a href="#/conta"><img class="circle" src="resources/download.png"></a>
                        <a href="#/conta"><span class="white-text name">{{empresaAtiva.nome}}</span></a>
                        <a href="#/conta"><span class="white-text email">{{empresaAtiva.email}}</span></a>
                    </div>
                </li>
                <li class="active">
                    <a href="#/home" class="waves-effect" href=""><i class="material-icons">home</i>Home</a>
                </li>

                <li>
                    <a href="#/cadastrarPonto" class="waves-effect" href=""><i class="material-icons">add</i>Cadastrar Ponto</a>
                </li>

                <li>
                    <a href="#/relatorio" class="waves-effect" href=""><i class="material-icons">subject</i>Relatórios</a>
                </li>

                <li>
                    <a href="#/conta" class="waves-effect" href=""><i class="material-icons">settings</i>Conta</a>
                </li>

                <li>
                    <div class="divider"></div>
                </li>

                <li>
                    <a href="#/login" class="waves-effect" href=""><i class="material-icons red-text">power_settings_new</i>Sair</a>
                </li>
            </ul>

            <div class="light-blue darken-2">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="" data-activates="sideNav" class="button-collapse show-on-small"><i class="material-icons">menu</i></a>
                        <a href="#" class="brand-logo center light">Home</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div id="map"></div>
        <br>
        <div class="container">
            <div class="row">
                <table class="responsive-table striped">
                    <thead>
                        <tr>
                            <th class="center" data-field="endereco">Endereço</th>
                            <th class="center" data-field="descricao">Descrição</th>
                            <th class="center" data-field="raioAlcance">Raio de Alcance</th>
                            <th class="center" data-field="tipoDesconto">Tipo Desconto</th>
                            <th class="center" data-field="valor">Valor</th>
                            <th class="center" data-field="ativo">Ativo</th>
                            <th class="center" data-field="dataVencimento">Data de Vencimento</th>
                            <th class="center" data-field="clientes">Clientes</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="ponto in pontos">
                            <td class="center">{{ponto.endereco}}</td>
                            <td class="center">{{ponto.descricao}}</td>
                            <td class="center">{{ponto.raioAlcance}}</td>
                            <td class="center">{{ponto.tipoDesconto}}</td>
                            <td class="center">{{ponto.valor}}</td>
                            <td class="center">
                                <div class="switch">
                                    <label>                                        
                                        <input ng-checked="ponto.ativo == 's'" ng-true-value="'s'" ng-false-value="'n'" ng-model="pontoAtivo" ng-click="ativar(ponto.id, pontoAtivo)" type="checkbox">
                                        <span class="lever"></span>                                        
                                    </label>
                                </div>                                
                            </td>
                            <td class="center">{{ponto.dataVencimento}}</td>
                            <td class="center"><a href="" ng-click="viewClienteGetPonto(ponto.id)">{{ponto.qtdClientes}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer>

    </footer>
</div>

<script>

$(document).ready(function(){
    $('.collapsible').collapsible();
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
});


</script>