<style media="screen">
header, main, footer {
    padding-left: 300px;
}

#map {
    height: 400px;
    width: 100%;
}
</style>

<div id="divHome" ng-controller="homeCtrl">
    
    <header>
        <nav class="side-nav fixed grey lighten-4">
            <ul>
                <li>
                    <div class="userView">
                        <img class="background" src="resources/teal.jpg">
                        <a href=""><img class="circle" src="resources/bk1.jpg"></a>
                        <a href=""><span class="white-text name">{{empresaAtiva.nome}}</span></a>
                        <a href=""><span class="white-text email">{{empresaAtiva.email}}</span></a>
                    </div>
                </li>

                <li class="active">
                    <a href="#/home" class="waves-effect"><i class="material-icons">home</i>Home</a>
                </li>

                <li>
                    <a href="#/cadastrarPonto" class="waves-effect"><i class="material-icons">add</i>Cadastrar Ponto</a>
                </li>

                <li>
                    <a href="#/relatorio" class="waves-effect"><i class="material-icons">subject</i>Relatórios</a>
                </li>

                <li>
                    <a href="#/conta" class="waves-effect"><i class="material-icons">settings</i>Conta</a>
                </li>

                <li>
                    <div class="divider"></div>
                </li>

                <li>
                    <a class="waves-effect" href="#/login"><i class="material-icons red-text">power_settings_new</i>Sair</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="map"></div>
        <br>
        <div class="container">
            <div class="row">
                <table class="responsive-table striped">
                    <thead>
                        <tr>
                            <th class="center"data-field="endereco">Endereço</th>
                            <th class="center"data-field="descricao">Descrição</th>
                            <th class="center" data-field="raioAlcance">Raio de Alcance</th>
                            <th class="center" data-field="tipoDesconto">Tipo Desconto</th>
                            <th class="center" data-field="valor">Valor</th>
                            <th class="center" data-field="ativo">Ativo</th>
                            <th class="center" data-field="dataVencimento">Data de Vencimento</th>
                            <th class="center" data-field="usuarios">Usuários</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="ponto in pontos">
                            <td class="center">{{ponto.endereco}}</td>
                            <td class="center">{{ponto.descricao}}</td>
                            <td class="center">{{ponto.raioAlcance}}</td>
                            <td class="center">{{ponto.tipoDesconto}}</td>
                            <td class="center">{{ponto.valor}}</td>
                            <td class="center">{{ponto.ativo}}</td>
                            <td class="center">{{ponto.dataVencimento}}</td>                            
                            <td class="center"><a href="" ng-click="viewClienteGetPonto(ponto.id)">{{ponto.qtdClientes}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer>

    </footer>
</div>

<script>

$(document).ready(function(){
    $('.button-collapse').sideNav();
    $('.collapsible').collapsible();    
    angular.element(document.getElementById('divHome')).scope().initMap();
});


</script>
