<style media="screen">

    header, main, footer {
        padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

    #map {
        height: 400px;
        width: 100%;
    }
</style>

<div ng-controller="pontoCtrl">

    <header>
        <nav>
            <ul id="sideNav" class="side-nav fixed">
                <li>
                    <div class="userView">
                        <img class="background" src="resources/teal.jpg">
                        <a href="#/conta"><img class="circle" src="resources/bk1.jpg"></a>
                        <a href="#/conta"><span class="white-text name">{{empresaAtiva.nome}}</span></a>
                        <a href="#/conta"><span class="white-text email">{{empresaAtiva.email}}</span></a>
                    </div>
                </li>
                <li>
                    <a href="#/home" class="waves-effect" href=""><i class="material-icons">home</i>Home</a>
                </li>

                <li>
                    <a href="#/cadastrarPonto" class="waves-effect" href=""><i class="material-icons">add</i>Cadastrar Ponto</a>
                </li>

                <li>
                    <a href="#/relatorio" class="waves-effect" href=""><i class="material-icons">subject</i>Relatórios</a>
                </li>

                <li>
                    <a href="#/conta" class="waves-effect" href=""><i class="material-icons">settings</i>Conta</a>
                </li>

                <li>
                    <div class="divider"></div>
                </li>

                <li>
                    <a href="#/login" class="waves-effect" href=""><i class="material-icons red-text">power_settings_new</i>Sair</a>
                </li>
            </ul>

            <div class="orange darken-4">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="" data-activates="sideNav" class="button-collapse show-on-small"><i class="material-icons">menu</i></a>
                        <a href="#" class="brand-logo center light">Descrição</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>

        <div id="map"></div>
        <br>

        <div class="container">
            <div class="row">

                <table class="responsive-table striped">
                    <thead>
                        <tr>
                            <th class="center" data-field="endereco">Endereço</th>
                            <th class="center" data-field="descricao">Descrição</th>
                            <th class="center" data-field="raioAlcance">Raio de Alcance</th>
                            <th class="center" data-field="tipoDesconto">Tipo Desconto</th>
                            <th class="center" data-field="valor">Valor</th>
                            <th class="center" data-field="ativo">Ativo</th>
                            <th class="center" data-field="clientes">Clientes</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="p in ponto">
                            <td class="center">{{p.endereco}}</td>
                            <td class="center">{{p.descricao}}</td>
                            <td class="center">{{p.raioAlcance}}</td>
                            <td class="center">{{p.tipoDesconto}}</td>
                            <td class="center">{{p.valor}}</td>
                            <td class="center">{{p.ativo}}</td>
                            <td class="center">{{p.qtdClientes}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer>

    </footer>
</div>

<script>

$(document).ready(function(){
    $('.button-collapse').sideNav();
    $('.collapsible').collapsible();
    $('.button-collapse').sideNav('hide');
    initMap();
});

function initMap(){
    var myLatLng = {lat: -26.9166207, lng: -49.0717429};

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        scrollwheel: false,
        zoom: 18
    });

    // Create a marker and set its position.
    var marker = new google.maps.Marker({
        map: map,
        position: myLatLng,
        title: 'Hello World!'
    });
}

</script>
