<script type="text/javascript">

$(document).ready(function() {
    $(".button-collapse").sideNav();
});

</script>

<style media="screen">
  header, main, footer {
    padding-left: 300px;
  }
</style>

<div ng-controller="relatorioCtrl">
    <!--
    <header>
        <nav class="side-nav fixed grey lighten-4">
            <ul>
                <li>
                  <div class="userView">
                    <img class="background" src="resources/teal.jpg">
                    <a href="#/conta"><img class="circle" src="resources/bk1.jpg"></a>
                    <a href="#/conta"><span class="white-text name">{{empresaAtiva.nome}}</span></a>
                    <a href="#/conta"><span class="white-text email">{{empresaAtiva.email}}</span></a>
                  </div>
                </li>

                <li>
                    <a href="#/home" class="waves-effect" href=""><i class="material-icons">home</i>Home</a>
                </li>

                <li>
                    <a href="#/cadastrarPonto" class="waves-effect" href=""><i class="material-icons">add</i>Cadastrar Ponto</a>
                </li>

                <li class="active">
                    <a href="" class="waves-effect" href=""><i class="material-icons">subject</i>Relatórios</a>
                </li>

                <li>
                    <a href="#/conta" class="waves-effect" href=""><i class="material-icons">settings</i>Conta</a>
                </li>

                <li>
                    <div class="divider"></div>
                </li>

                <li>
                    <a href="#/login" class="waves-effect" href=""><i class="material-icons red-text">power_settings_new</i>Sair</a>
                </li>
            </ul>
        </nav>
    </header>
-->
    <main>
        <form name="formulario">
            <div class="container" style="padding-top: 50px">
                <div class="row">
                    <table class="responsive-table striped">
                        <thead>
                            <tr>
                                <th data-field="id">Name</th>
                                <th data-field="name">Item Name</th>
                                <th data-field="price">Item Price</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Alvin</td>
                                <td>Eclair</td>
                                <td>$0.87</td>
                            </tr>
                            <tr>
                                <td>Alan</td>
                                <td>Jellybean</td>
                                <td>$3.76</td>
                            </tr>
                            <tr>
                                <td>Jonathan</td>
                                <td>Lollipop</td>
                                <td>$7.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </main>

    <footer>

    </footer>

</div>
