<style media="screen">
    header,
    main,
    footer {
        padding-left: 300px;
    }
    
    @media only screen and (max-width: 992px) {
        header,
        main,
        footer {
            padding-left: 0;
        }
    }
</style>

<div ng-controller="relatorioCtrl">

    <header>
        <nav>
            <ul id="sideNav" class="side-nav fixed">
                <li>
                    <div class="userView">
                        <img class="background" src="resources/teal.jpg">
                        <a href="#/conta"><img class="circle" src="resources/bk1.jpg"></a>
                        <a href="#/conta"><span class="white-text name">{{empresaAtiva.nome}}</span></a>
                        <a href="#/conta"><span class="white-text email">{{empresaAtiva.email}}</span></a>
                    </div>
                </li>
                <li>
                    <a href="#/home" class="waves-effect" href=""><i class="material-icons">home</i>Home</a>
                </li>

                <li>
                    <a href="#/cadastrarPonto" class="waves-effect" href=""><i class="material-icons">add</i>Cadastrar Ponto</a>
                </li>

                <li class="active">
                    <a href="#/relatorio" ng-click="reloadView()" class="waves-effect" href=""><i class="material-icons">subject</i>Relatórios</a>
                </li>

                <li>
                    <a href="#/conta" class="waves-effect" href=""><i class="material-icons">settings</i>Conta</a>
                </li>

                <li>
                    <div class="divider"></div>
                </li>

                <li>
                    <a href="#/login" class="waves-effect" href=""><i class="material-icons red-text">power_settings_new</i>Sair</a>
                </li>
            </ul>

            <div class="light-blue darken-2">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="" data-activates="sideNav" class="button-collapse show-on-small"><i class="material-icons">menu</i></a>
                        <a href="" class="brand-logo center light">Relatório</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <form name="formulario">
            <div class="container" style="padding-top: 50px">
                <div class="row">
                    <div class="col s6 m6 l6 ">
                        <div class="input-field">
                            <input id="pesquisa" ng-model="pesquisa" placeholder="Nome, CPF, Email" type="text" class="validate">
                            <label for="pesquisa">Pesquisar</label>
                        </div>
                    </div>
                    <table class="responsive-table striped">
                        <thead>
                            <tr>
                                <th class="center" data-field="id">id</th>
                                <th class="center" data-field="nome">Nome</th>
                                <th class="center" data-field="cpf">CPF</th>
                                <th class="center" data-field="email">Email</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="c in clientes | filter: pesquisa">
                                <td class="center">{{c.id}}</td>
                                <td class="center">{{c.nome}}</td>
                                <td class="center">{{c.cpf}}</td>
                                <td class="center">{{c.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </main>

    <footer>

    </footer>

</div>

<script type="text/javascript">

$(document).ready(function() {
    $(".button-collapse").sideNav();
    $('.button-collapse').sideNav('hide');
    $('#pesquisa').focus();
});

</script>